# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.Python
env/
venv/
.venv/
*.sqlite3
db.sqlite3
.ipynb_checkpoints/
*.h5
*.keras
*.tflite
*.pkl
*.csv
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
